.challah-hacks {
  background-color: rgb(250, 249, 247);
}

.hacks {
  text-align: center
}
.hacks-title {

    color: rgb(92, 115, 39);
}

.subheader {
    font-size: calc(2em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.hack-context {
    font-size: calc(0.75em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
}

#challahtopview {
  width: 60vh;
  border-radius: 1%;
}

@media only screen and (max-width: 600px) {
  #challahtopview {
    width: 40vh;
    border-radius: 1%;
  }
}

