.challah-hacks {
  background-color: rgb(250, 249, 247);
  width: 100vw;
}

.hacks {
  text-align: center
}
.hacks-title {
    font-style: normal;
    color: rgb(92, 115, 39);
}

.subheader {
  font-size: calc(2em + 1vw);
  font-family: 'Roboto', sans-serif;
  color: rgb(105, 131, 45);
  text-align: left;
  font-style: italic;
}

.hack-context {
    font-size: calc(0.75em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: left;
}

#challahtopview {
  width: 40vw;
  border-radius: 1%;
}

@media only screen and (max-width: 600px) {
  #challahtopview {
    width: 40vw;
    border-radius: 1%;
  }

  .hacks-title {
    font-size: calc(2.5em + 2vw);
 
  }

  .subheader {
    font-size: calc(2em + 0.7vw);
  }
}

@media only screen and (max-width: 812px) {
  .hacks-title {
    font-size: calc(2.8em + 2vw);
  
  }

  
}
