.reserve{
    background-color: rgb(245,240,229);
}

.reserve-header {
    font-family: 'Alata', sans-serif;
    color: rgb(186, 176, 180);
    text-align: center;
}

 #plain, #poppyseed, #sesame, #zaatar{
    width: 40vw;
    border-radius: 1%;
    z-index: 10;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.plain:hover #plain {
    opacity: 0; 
}

.plain {
    background-image: url('../Images/plain2.jpg');
    border-radius: 1%;
    background-size: 40vw;
    z-index: 10;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.poppyseed:hover #poppyseed {
    opacity: 0; 
}

.poppyseed {
    background-image: url('../Images/poppyseed2.jpg');
    border-radius: 1%;
    background-size: 40vw;
    z-index: 10;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.sesame:hover #sesame {
    opacity: 0; 
}

.sesame {
    background-image: url('../Images/sesame2.jpg');
    border-radius: 1%;
    background-size: 40vw;
    z-index: 10;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.zaatar:hover #zaatar {
    opacity: 0; 
}

.zaatar {
    background-image: url('../Images/zaatar2.jpg');
    border-radius: 1%;
    background-size: 40vw;
    z-index: 10;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}