.about {
  background-color:rgb(244, 213, 180);
  padding: 3vw;
}

.bio {
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.5em + 1vw);
}

.photo {
    text-align: center;
}
  
  .ari-photo {
    display: block;
}
  
  #ari {
    width: 40vh;
    border-radius: 1%;
}