.about {
  background-color:rgb(244, 213, 180);
  padding: 3vw;
}
.about-header {
  text-align: center;
}

.bio {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.75em + 1vw);
}

.photo {
  text-align: center;
}
  
.ari-photo {
  display: block;
}
  
#ari {
    width: 40vh;
    border-radius: 1%;
}

#baker, #baker1 {
  padding: -2vw;
}

#baker-photo, #baker-photo1 {
  width: 20vh;
  border-radius: 1%;
}

@media only screen and (max-width: 600px) {
  .bio {
    text-align: center;
  }
  
  #baker {
    display: none;
  }

  #baker-photo1 {
    width: 40vh;
    border-radius: 1%;
  }

  #baker1 {
    align-content: center;
  }
}

a {
  text-decoration: none !important;
}