#navbar {
    box-shadow: 0 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.2);
}

#navbarNav {
    justify-content: flex-end;
}
.links {
    cursor: pointer;
    position: fixed;
    width: 100%;
    top: 0;
    transition:  0.5s;
    z-index: 99;  
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.7em + 1vw);
    background-color: rgb(250, 249, 247);
}

#navbar:hover {
    cursor: default;
}

#link:hover{
    cursor: pointer;
}

.menu-links {
    padding: 2vw 0;     
}

#boton {
    background-color: transparent;  
    width: 47px;
    height: 34px;
    border-color: transparent; 
}

 #boton:focus {
    box-shadow:none !important;
    outline: none !important;
}

#boton:active {
    border-color: transparent;
}


.line {
    float: right;
    height: 3px;
    background-color: rgb(232, 184, 115);
    margin: 6px;
    border-radius: 10%;
}

#line1 {
    margin: 3.5px 0;
    width: 180%;
}

#line2 {
    margin: 3.5px 0;
    width: 150%;
}

#line3 {
    margin: 3.5px 0;
    width: 100%;
}

