.contact {
    display: inline;
    text-align: center;
}

#test {
    background-color:rgb(240, 221, 197) !important;
}

.contact-header {
    color: rgb(110, 51, 41)
}

.contact-info {
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.75em + 1vw);
    font-weight: 300;
}

.contactform {
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paddingpurposes {
    margin-top: 2vw;
}

#textarea {
    font-size: calc(0.75em + 1vw);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
