.header {
    background-color: rgb(250, 249, 247);
}

.challah-by-ari {
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: calc(4em + 1.6vw);
    letter-spacing: 0.3vw;
    color: rgb(92, 115, 39);
}

.ingredients, .catchphrase {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1em + 1vw);
    text-align: center;
    font-weight: 300;
}

#photo-header1, #photo-header2, #photo-header3 {
    width: 30vw;
    border-radius: 1%;
}

@media only screen and (max-width: 1024px) {
    .header {
        width: 100vw;
    }
    #photo-header1, #photo-header2, #photo-header3 {
        width: 30vw;
        border-radius: 1%;
    }
  }
  